<a href="https://colab.research.google.com/github/darlaabril/Taller-Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar Pandas

In [ ]:
import pandas as pd

Cargar la data

In [ ]:
url ="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfATT3S3amBLq6O7RbKLSrlmLwRQ7O0af7Jqdo1-R948Aw3DHd8nowyObYeQtYSg/pub?gid=1962564285&single=true&output=csv"
df = pd.read_csv(url)
df

,Year,P,Q,Y,Z,PY,PZ,POIL,W1,W2,W3,W4,Ɵp,Ɵpy,Ɵpz,ƟpzZt,ƟpyYt,Q*
0,2010,"155,9","301,50","102,0324487","74,76","15.902,55","11651,92879","78,38619048","392,35","5,5538","0,00","2,06","23,89122","-0,077513","-0,271089","-20,26661364","-7,908841198","-70,37429353"
1,2010,"156,4","314,70","98,70816895","74,76","15.441,36","11695,03923","76,299","390,86","5,5538","0,02","1,81","23,89122","-0,077513","-0,271089","-20,26661364","-7,6511663","-78,15604504"
2,2010,"157,1","366,00","111,471742","74,76","17.511,77","11744,49852","81,25043478","390,64","5,5538","0,00","1,66","23,89122","-0,077513","-0,271089","-20,26661364","-8,640509141","-72,96792142"
3,2010,"159,4","360,90","107,5271805","74,76","17.143,16","11919,05826","84,49545455","384,91","5,5538","0,01","1,97","23,89122","-0,077513","-0,271089","-20,26661364","-8,334754342","-76,62179647"
4,2010,"167,2","317,10","120,0875193","74,76","20.082,53","12502,29963","73,74142857","373,77","5,5538","0,01","2,03","23,89122","-0,077513","-0,271089","-20,26661364","-9,308343886","-55,79075363"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2019,"159,9","899,48","129,2104405","48,72","20.662,59","7791,022632","54,80590909","508,37","6,065358367","0,02","2,75","23,89122","-0,077513","-0,271089","-13,20745608","-10,01548887","1345,968887"
116,2019,"158,6","891,72","126,7946008","48,72","20.112,76","7728,198728","56,85761905","519,17","5,907758426","0,01","2,33","23,89122","-0,077513","-0,271089","-13,20745608","-9,828229894","1042,301034"
117,2019,"158,5","919,68","134,4538656","48,72","21.312,45","7722,667241","53,96304348","524,33","5,639761613","0,03","2,47","23,89122","-0,077513","-0,271089","-13,20745608","-10,42192249","3512,339976"
118,2019,"157,2","904,98","134,5735796","48,72","21.155,32","7658,910579","57,07904762","524,19","5,550825417","0,02","1,74","23,89122","-0,077513","-0,271089","-13,20745608","-10,43120187","3583,210604"
119,2019,"155,7","943,29","130,916353","48,72","20.386,67","7586,819819","59,87818182","531,17","5,531914874","0,02","1,72","23,89122","-0,077513","-0,271089","-13,20745608","-10,14771927","1759,717389"

Lectura de data

In [ ]:
print(df.head(3))

       P        Q            Y      Z            PY           PZ         POIL  \
0  155,9  301,50   102,0324487  74,76    15.902,55   11651,92879  78,38619048
1  156,4  314,70   98,70816895  74,76    15.441,36   11695,03923       76,299
2  157,1  366,00    111,471742  74,76    17.511,77   11744,49852  81,25043478

          W1      W2    W3    W4        Ɵp        Ɵpy        Ɵpz  \
0    392,35   5,5538  0,00  2,06  23,89122  -0,077513  -0,271089
1    390,86   5,5538  0,02  1,81  23,89122  -0,077513  -0,271089
2    390,64   5,5538  0,00  1,66  23,89122  -0,077513  -0,271089

          ƟpzZt         ƟpyYt            Q*
0  -20,26661364  -7,908841198  -70,37429353
1  -20,26661364    -7,6511663  -78,15604504
2  -20,26661364  -8,640509141  -72,96792142

In [ ]:
df['P']

0      155,9
1      156,4
2      157,1
3      159,4
4      167,2
       ...
115    159,9
116    158,6
117    158,5
118    157,2
119    155,7
Name: P, Length: 120, dtype: object

In [ ]:
df.columns

Index(['P', 'Q', 'Y', 'Z', 'PY', 'PZ', 'POIL', 'W1', 'W2', 'W3', 'W4', 'Ɵp',
       'Ɵpy', 'Ɵpz', 'ƟpzZt', 'ƟpyYt', 'Q*'],
      dtype='object')

In [ ]:
print(df[['P', 'Q', 'POIL']])

         P        Q         POIL
0    155,9  301,50   78,38619048
1    156,4  314,70        76,299
2    157,1  366,00   81,25043478
3    159,4  360,90   84,49545455
4    167,2  317,10   73,74142857
..     ...      ...          ...
115  159,9  899,48   54,80590909
116  158,6  891,72   56,85761905
117  158,5  919,68   53,96304348
118  157,2  904,98   57,07904762
119  155,7  943,29   59,87818182

[120 rows x 3 columns]

In [ ]:
print(df.iloc[0:4])

       P        Q            Y      Z            PY           PZ         POIL  \
0  155,9  301,50   102,0324487  74,76    15.902,55   11651,92879  78,38619048
1  156,4  314,70   98,70816895  74,76    15.441,36   11695,03923       76,299
2  157,1  366,00    111,471742  74,76    17.511,77   11744,49852  81,25043478
3  159,4  360,90   107,5271805  74,76    17.143,16   11919,05826  84,49545455

          W1      W2    W3    W4        Ɵp        Ɵpy        Ɵpz  \
0    392,35   5,5538  0,00  2,06  23,89122  -0,077513  -0,271089
1    390,86   5,5538  0,02  1,81  23,89122  -0,077513  -0,271089
2    390,64   5,5538  0,00  1,66  23,89122  -0,077513  -0,271089
3    384,91   5,5538  0,01  1,97  23,89122  -0,077513  -0,271089

          ƟpzZt         ƟpyYt            Q*
0  -20,26661364  -7,908841198  -70,37429353
1  -20,26661364    -7,6511663  -78,15604504
2  -20,26661364  -8,640509141  -72,96792142
3  -20,26661364  -8,334754342  -76,62179647

In [ ]:
df.loc[df['Year'] == 2011]

,Year,P,Q,Y,Z,PY,PZ,POIL,W1,W2,W3,W4,Ɵp,Ɵpy,Ɵpz,ƟpzZt,ƟpyYt,Q*
12,2011,"188,8","382,50","117,6569575","74,76","22.216,39","14116,44255","89,51","413,28","6,405899811","0,03","1,53","23,89122","-0,077513","-0,271089","-20,26661364","-9,119943749","-69,60446155"
13,2011,"190,1","406,20","110,6521213","74,76","21.035,10","14211,96228","89,366","416,12","6,492170741","0,00","1,80","23,89122","-0,077513","-0,271089","-20,26661364","-8,576977878","-82,0213101"
14,2011,"188,7","420,60","124,5618224","74,76","23.509,69","14110,14014","102,916087","422,64","6,63172625","0,01","2,94","23,89122","-0,077513","-0,271089","-20,26661364","-9,655160537","-69,74483399"
15,2011,"186,2","439,50","123,0095011","74,76","22.899,54","13917,37537","110,0428571","412,45","6,789846717","0,01","1,92","23,89122","-0,077513","-0,271089","-20,26661364","-9,534835455","-74,36259964"
16,2011,"188,7","387,00","127,5702288","74,76","24.077,40","14110,08083","101,2731818","417,83","6,957426446","0,01","2,30","23,89122","-0,077513","-0,271089","-20,26661364","-9,888351147","-61,78412645"
17,2011,"196,0","402,60","123,4576784","68,46","24.199,58","13419,20025","96,25409091","431,54","7,179977917","0,01","1,80","23,89122","-0,077513","-0,271089","-18,55875294","-9,569575028","-95,0176401"
18,2011,"200,7","423,60","121,9257398","65,94","24.471,29","13234,58908","97,2","439,47","7,57945215","0,00","1,57","23,89122","-0,077513","-0,271089","-17,87560866","-9,450829868","-123,3109325"
19,2011,"203,6","456,30","121,7316546","61,32","24.785,54","12485,24531","86,32130435","449,75","7,625404206","0,00","1,70","23,89122","-0,077513","-0,271089","-16,62317748","-9,435785747","-210,4954103"
20,2011,"208,9","408,60","119,0353426","61,32","24.871,33","12812,24282","85,61681818","450,97","7,721228262","0,02","1,64","23,89122","-0,077513","-0,271089","-16,62317748","-9,226786513","-208,6030648"
21,2011,"209,7","429,30","120,2246544","61,32","25.211,83","12859,16982","86,40619048","467,31","7,898493401","0,01","1,53","23,89122","-0,077513","-0,271089","-16,62317748","-9,318973634","-209,3195608"
22,2011,"215,5","408,60","123,6798655","61,32","26.654,97","13215,42939","97,06636364","477,56","7,834195037","0,01","1,74","23,89122","-0,077513","-0,271089","-16,62317748","-9,586797411","-176,2152617"
23,2011,"216,1","465,60","128,3458349","61,32","27.729,71","13248,46675","98,61227273","476,80","7,817017816","0,00","1,83","23,89122","-0,077513","-0,271089","-16,62317748","-9,948470704","-173,7035906"

In [ ]:
print(df.iloc[4,1])

167,2

Seleccionar data

In [ ]:
df.sort_values(['Z', 'Year'], ascending=[1,1])

df

,Year,P,Q,Y,Z,PY,PZ,POIL,W1,W2,W3,W4,Ɵp,Ɵpy,Ɵpz,ƟpzZt,ƟpyYt,Q*
0,2010,"155,9","301,50","102,0324487","74,76","15.902,55","11651,92879","78,38619048","392,35","5,5538","0,00","2,06","23,89122","-0,077513","-0,271089","-20,26661364","-7,908841198","-70,37429353"
1,2010,"156,4","314,70","98,70816895","74,76","15.441,36","11695,03923","76,299","390,86","5,5538","0,02","1,81","23,89122","-0,077513","-0,271089","-20,26661364","-7,6511663","-78,15604504"
2,2010,"157,1","366,00","111,471742","74,76","17.511,77","11744,49852","81,25043478","390,64","5,5538","0,00","1,66","23,89122","-0,077513","-0,271089","-20,26661364","-8,640509141","-72,96792142"
3,2010,"159,4","360,90","107,5271805","74,76","17.143,16","11919,05826","84,49545455","384,91","5,5538","0,01","1,97","23,89122","-0,077513","-0,271089","-20,26661364","-8,334754342","-76,62179647"
4,2010,"167,2","317,10","120,0875193","74,76","20.082,53","12502,29963","73,74142857","373,77","5,5538","0,01","2,03","23,89122","-0,077513","-0,271089","-20,26661364","-9,308343886","-55,79075363"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2019,"159,9","899,48","129,2104405","48,72","20.662,59","7791,022632","54,80590909","508,37","6,065358367","0,02","2,75","23,89122","-0,077513","-0,271089","-13,20745608","-10,01548887","1345,968887"
116,2019,"158,6","891,72","126,7946008","48,72","20.112,76","7728,198728","56,85761905","519,17","5,907758426","0,01","2,33","23,89122","-0,077513","-0,271089","-13,20745608","-9,828229894","1042,301034"
117,2019,"158,5","919,68","134,4538656","48,72","21.312,45","7722,667241","53,96304348","524,33","5,639761613","0,03","2,47","23,89122","-0,077513","-0,271089","-13,20745608","-10,42192249","3512,339976"
118,2019,"157,2","904,98","134,5735796","48,72","21.155,32","7658,910579","57,07904762","524,19","5,550825417","0,02","1,74","23,89122","-0,077513","-0,271089","-13,20745608","-10,43120187","3583,210604"
119,2019,"155,7","943,29","130,916353","48,72","20.386,67","7586,819819","59,87818182","531,17","5,531914874","0,02","1,72","23,89122","-0,077513","-0,271089","-13,20745608","-10,14771927","1759,717389"

Cambios de la data

In [ ]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,Year,P,Q,Y,Total,Z,PY,PZ,POIL,W1,W2,W3,W4
0,2010,"155,9","301,50","102,0324487","74,76 15.902,55 11651,9287978,38619048 392,3...","74,76","15.902,55","11651,92879","78,38619048","392,35","5,5538","0,00","2,06"
1,2010,"156,4","314,70","98,70816895","74,76 15.441,36 11695,0392376,299 390,86 5,5538","74,76","15.441,36","11695,03923","76,299","390,86","5,5538","0,02","1,81"
2,2010,"157,1","366,00","111,471742","74,76 17.511,77 11744,4985281,25043478 390,6...","74,76","17.511,77","11744,49852","81,25043478","390,64","5,5538","0,00","1,66"
3,2010,"159,4","360,90","107,5271805","74,76 17.143,16 11919,0582684,49545455 384,9...","74,76","17.143,16","11919,05826","84,49545455","384,91","5,5538","0,01","1,97"
4,2010,"167,2","317,10","120,0875193","74,76 20.082,53 12502,2996373,74142857 373,7...","74,76","20.082,53","12502,29963","73,74142857","373,77","5,5538","0,01","2,03"

Filtrar y juntar datos

In [ ]:
new_df = df.loc[(df['Year'] == 2011) & (df['Z'] == 74.76)]

new_df.reset_index(drop=True, inplace=True)

new_df
new_df.to_csv('filtered.csv')

Empty DataFrame
Columns: [Year, P, Q, Y, Total, Z, PY, PZ, POIL, W1, W2, W3, W4]
Index: []